
* {
	font-family: "Montserrat", sans-serif;
	margin-bottom: 0px;
    margin-top: 0px;
}

div {
	font-family: "Playwrite GB S Guides", cursive;
}

h1, div {
	margin-top: 75px;
	text-align: center;
}

#billy {
	list-style: none;
	margin-top: 100px;
	margin-left: 35%;
}

img {
	width: 65px;
	position: absolute;
}

#one {
	left: 45%;
}

#two {
	left: 47%;
}

#three {
	left: 57%;
}

#four {
	left: 58%;
}
